body {
    background-color: #474349;
    margin: auto;
    width: 100%;
}
@media (min-device-width: 800px) {
    body {
        max-width: 960px;
    }
}
.logo {
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: -15px;
    background: url('16.jpg');
}
.header {
    color:#ED3365;
    background-color:#322935;
    border: 3px solid #ED3365;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    padding-top: 30px;
    font-family: 'Palatino', 'URW Palladio L', serif;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}
.nav {
     display: flex;
     align-items: center;
     list-style: none;
     margin-top: 5px;
     margin-bottom: 5px;
     margin-right: -5px;
     flex-direction: column;
     justify-content: space-around;
     text-align: center;
     background-color: #322935;
     color: #ED3365;
     border: 3px solid #ED3365;
     border-radius: 10px;
}
@media (min-device-width: 800px) {
    .nav {
        flex-direction: row;
        justify-content: space-around;
    }
}
.nav li:after {
     content: " | ";
     color: #ED3365;
     display: inline-block;
     vertical-align: center;
}
.nav a {
     color:#ED3365;
     text-decoration: none;
     padding: 10px 0px 10px;
     letter-spacing: 2px;
     position: relative;
     margin: 0px 10px 0px 10px;
     font-size: 17px;
     text-transform: uppercase;
     display: inline-block;
}
.nav a:hover{
    background-color: #ED3365;
    color: #f4f4f4;
}
.flexbox {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.one {
    margin-right: -5px;
    color: #ED3365;
    background-color:  #322935;
    border: 3px solid #ED3365;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
}
.one h2 {
    color: #ED3365;
    text-align: center;
}
.one ol {
    list-style: none;
    text-align: center;
}
.one ul {
    list-style: none;
}
.one a {
    text-decoration: none;
    color: #ED3365
}
.two {
    margin-top: 5px;
    margin-right: -5px;
    color:  #ED3365;
    background-color: #322935;
    border: 3px solid  #ED3365;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 3;
}
@media (min-device-width: 800px) {
    .two {
        order: 2;
    }
}
.two h2{
    color: #ED3365;
    text-align: center;
}
.two table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.two th, td {
    padding: 10px 20px;
    border: 1px solid #ED3365;
}
.two tr:nth-child(odd) {
    background-color: #1F2430;
}
.three {
    margin-top: 5px;
    margin-right: -5px;
    color: #ED3365;
    background-color: #322935;
    border: 3px solid #ED3365;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
}
@media (min-device-width: 800px) {
    .three {
        order: 3;
    }
}
.three h2 {
    color: #ED3365;
    text-align: center;
}
.footer {
    margin-top: 5px;
    margin-right: -5px;
    color: #322935;
    background-color: #ED3365;
    border: 3px solid #322935;
    border-radius: 10px;
}